.vs
.vscode
app
bin
obj
build
issues
src
typings
.gitignore
.npmignore
gulp_tsd.json
gulpfile.js
tsd.json
TsProjectTodoMVC
ReactTodoMVC
dist/**/*.map
tsproject.js
*.dat
*.njsproj
*.njsproj.user
*.njsproj.vspscc