.vs
.vscode
app
bin
build
built
dist
issues
obj
samples
src
tests
typings
.gitattributes
.gitignore
.npmignore
.travis.yml
gulpfile.js
tsconfig.json
*.sln
*.dat
*.njsproj
*.njsproj.user
*.njsproj.vspscc